* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* vai considerar a partir disso as medidas dos elementos*/
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  /* O "*" é um seletor universal*/
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

:root {
  /* raiz*/
  --text-color: white; /* --nome-algo é para criar uma variavel*/
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px; /* alinhar a caixa não o conteudo da caixa no centro usa a propriedade margin*/
  padding: 0 24px;
}

/* profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch */
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto; /* como está em display block coloca dessa forma para posicionar ao centro*/
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%; /* para ficar arredondado*/

  position: absolute; /*quando é absoluto ele faz uma sobreposição de camadas*/
  top: 50%;
  z-index: 1; /*para subir uma posição*/
  left: 0;
  transform: translateY(-50%);

  animation: slide-back .2s;
}

.light #switch button {
  animation: slide-in .2s forwards;
}

#switch button:hover{
  outline: 8px solid var(--highlight-color);  
}

#switch span {
  /* como o span é inline precisa colocar o display block*/
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Social-Links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px; /* o gap da espaço entre os elementos*/

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  text-decoration: none;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  text-decoration: none;
  border: 1.5px solid var(--text-color);
}

/*Social-links*/

#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
}

/* Medias Queries */

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-light.jpg);
  }
}

/* Animações */

@keyframes slide-in{
    from {
      left:0;
    }
    to{
      left: 50%;
    }
}

@keyframes slide-back{
    from {
      left: 50%;
    }
    to{
      left: 0;
    }
}
